body{
    color: #ffffff;
    font-family: 'Mada', sans-serif;
}

.autent {
        /* font-family: 'Mada', sans-serif; */
        font-family: 'Prosto One', cursive;
}


/* .teksawalan { */
#aboutUS {
    color: #ffffff;
}
