

/*--------------------------------------------------------------
# Blog Posts List
--------------------------------------------------------------*/

.top {
    margin-bottom: 21px;
}

.blog {
    margin-bottom: 21px;
}
.blog .posts-list article {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .blog .posts-list .post-img {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
  }

  .blog .posts-list .post-category {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
  }

  .blog .posts-list .title {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .blog .posts-list .title a {
    /* color: var(--color-default); */
    color: #3c3c3c;
    transition: 0.3s;
  }

  .blog .posts-list .title a:hover {
    /* color: var(--color-primary); */
    color: #1a374d;
  }

  .blog .posts-list .post-author-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .blog .posts-list .post-author-list {
    color: #3c3c3c;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .blog .posts-list .post-date {
    font-size: 14px;
    color: #3c3c3c;
    margin-bottom: 0;
  }



/*--------------------------------------------------------------
# Blog Details
--------------------------------------------------------------*/
.blog .blog-details {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    align-items: center;;
  }

  .blog .blog-details .post-img {
    margin: -30px -30px 20px -30px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }

  .blog .blog-details .title {
    font-size: 28px;
    font-weight: 700;
    padding: 0;
    margin: 20px 0 0 0;
    color: var(--color-default);
  }

  .blog .blog-details .content {
    margin-top: 20px;
  }

  .blog .blog-details .content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
  }

  .blog .blog-details .content blockquote {
    overflow: hidden;
    background-color: rgba(34, 34, 34, 0.06);
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
  }

  .blog .blog-details .content blockquote p {
    color: var(--color-default);
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
  }

  .blog .blog-details .content blockquote:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--color-secondary);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .blog .blog-details .meta-top {
    margin-top: 20px;
    color: #6c757d;
  }

  .blog .blog-details .meta-top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .blog .blog-details .meta-top ul li+li {
    padding-left: 20px;
  }

  .blog .blog-details .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: var(--color-primary);
  }

  .blog .blog-details .meta-top a {
    color: #6c757d;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
  }

  .blog .blog-details .meta-bottom {
    padding-top: 10px;
    border-top: 1px solid rgba(34, 34, 34, 0.15);
  }

  .blog .blog-details .meta-bottom i {
    color: #555555;
    display: inline;
  }

  .blog .blog-details .meta-bottom a {
    color: rgba(34, 34, 34, 0.8);
    transition: 0.3s;
  }

  .blog .blog-details .meta-bottom a:hover {
    color: var(--color-primary);
  }

  .blog .blog-details .meta-bottom .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
  }

  .blog .blog-details .meta-bottom .cats li {
    display: inline-block;
  }

  .blog .blog-details .meta-bottom .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
  }

  .blog .blog-details .meta-bottom .tags li {
    display: inline-block;
  }

  .blog .blog-details .meta-bottom .tags li+li::before {
    padding-right: 6px;
    color: var(--color-default);
    content: ",";
  }

  .blog .blog-details .meta-bottom .share {
    font-size: 16px;
  }

  .blog .blog-details .meta-bottom .share i {
    padding-left: 5px;
  }

  .blog .post-author {
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .blog .post-author img {
    max-width: 120px;
    margin-right: 20px;
  }

  .blog .post-author h4 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
    padding: 0;
    color: var(--color-default);
  }

  .blog .post-author .social-links {
    margin: 0 10px 10px 0;
  }

  .blog .post-author .social-links a {
    color: rgba(34, 34, 34, 0.5);
    margin-right: 5px;
  }

  .blog .post-author p {
    font-style: italic;
    color: rgba(108, 117, 125, 0.8);
    margin-bottom: 0;
  }
